.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  margin-top: 20px;
  margin-bottom: 40px;
}

.wd-modules > li > div {
  padding: 12px;
}

.wd-modules > li > ul > li {
  padding: 12px;
  border-top: 1px solid gray !important;
  border-left: 3px solid green;
}

.wd-modules, .list-group {
  border-radius: 0;
  padding: 0px;
  border: none;
  margin: 0px;
}

.wd-modules > .list-group-item {
  padding: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons > * {
    height: 40px;
    border-color: black;
    margin: 10px 1px;
}

.buttons > .btn-secondary {
    background-color: lightgray;
    color: black;
}

.list-group-item .buttons {
  display: block;
  margin: 0;
}

a {
    text-decoration: none !important;
}