button {
    height: 40px;
    border-color: black;
    margin: 10px 1px;
}
button.btn-secondary {
    background-color: lightgray;
    color: black;
}
.smaller {
    font-size: 0.7em;
}
#course-status {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}
#courseNav {
    background: white;
}
#courseNav > ul > li > a {
    color: red;
}
.active {
    font-weight: bold !important;
}